<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion 1</h1> - <h3>(años)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, aspernatur animi ex fugit soluta ipsam facilis qui, eum iste dolore enim inventore explicabo totam dolorum ut delectus doloremque? Exercitationem, itaque.
            </p>
        </ul>
        <ul>
            <li><h1>Educacion 2</h1> - <h3>(años)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, aspernatur animi ex fugit soluta ipsam facilis qui, eum iste dolore enim inventore explicabo totam dolorum ut delectus doloremque? Exercitationem, itaque.
            </p>
        </ul>
        <ul>
            <li><h1>Educacion 3</h1> - <h3>(años)</h3></li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, aspernatur animi ex fugit soluta ipsam facilis qui, eum iste dolore enim inventore explicabo totam dolorum ut delectus doloremque? Exercitationem, itaque.
            </p>
        </ul>
    </div>
</div>